aside {
  box-shadow: 6px 0px 10px -10px #888;
  background: #fff;
  width: 150px;
  position: sticky;
}

.links {
  text-decoration: none;
}

.selected {
  text-decoration: overline underline;
}

aside a {
  color: #6c7885;
}
