.candidate {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background: #fff;
  border: 1px solid #e0e0e0;
  height: 70px;
  border-radius: 5px;
}

.candidate .candidate-name-photo {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 150px;
  color: #6c7885;
}

.candidate .action-icons {
  margin-bottom: 15px;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  display: flex;
  width: 100px;
  height: 100%;
  color: #6c7885;
}

.candidate i {
  outline-offset: 50px;
}

.candidate img {
  border-radius: 50px;
}

.candidate .candidate-name {
  color: #6c7885;
  font-size: 20px;
  width: 100px;
  margin-left: 15px;
}

.candidate .candidadte-email {
  width: 250px;
}

.candidate .candidate-phone {
  width: 110px;
}

.candidate .candidate-address {
  width: 100px;
}

.candidate > p:nth-of-type(n + 1) {
  color: #a5a5a5;
}
